.responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

html, body {
  font-family: "Open sans", sans-serif;
  font-size: 16px;
}
html html, body html {
  font-size: 100%;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
  font-family: "Hind", sans-serif;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
}

h2 {
  font-size: 1.875em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.5625em;
  line-height: 1.44em;
}

h4 {
  font-size: 1.125em;
  line-height: 1.33333em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

#navigation > .menu {
  position: relative;
  padding-left: 14.28571%;
}
#navigation > .menu:after {
  content: " ";
  display: block;
  clear: both;
}
#navigation > .menu:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 14.28571%;
  height: 50px;
}
#navigation > .menu > li {
  position: relative;
  width: 100%;
  float: left;
  padding-left: 0.83333%;
  padding-right: 0.83333%;
}
@media (min-width: 64em) {
  #navigation > .menu > li {
    width: 14.28571%;
    float: left;
    padding-left: 1.42857%;
    padding-right: 1.42857%;
  }
}
#navigation > .menu a {
  display: block;
}
#navigation > .menu > li:hover .menu {
  display: block;
}
#navigation .menu .menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
}

#navigation {
  padding: 0.5em 0;
  background: #fff;
  visibility: hidden;
  -moz-box-shadow: 8px 8px 10px -2px rgba(50, 50, 50, 0.66);
  -webkit-box-shadow: 8px 8px 10px -2px rgba(50, 50, 50, 0.66);
  box-shadow: 8px 8px 10px -2px rgba(50, 50, 50, 0.66);
}
#navigation > .menu:before {
  background-image: url(../img/navigation__logo.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
}
#navigation > .menu > li > a {
  position: relative;
  line-height: 3.125;
  font-size: 1em;
  text-align: center;
}
@media (min-width: 73.125em) {
  #navigation > .menu > li > a {
    font-size: 0.8em;
  }
  #navigation > .menu > li > a:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background: #000;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  #navigation > .menu > li > a:before {
    top: 0;
    left: 0;
    transform: translateY(-20px);
  }
}
@media (min-width: 80em) {
  #navigation > .menu > li > a {
    font-size: 1em;
  }
}
#navigation > .menu > li:hover > a {
  background: #cccccc;
}
#navigation > .menu > li:hover > a:before {
  transform: translateY(0px);
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#navigation > .menu a {
  text-decoration: none;
}
#navigation .menu .menu {
  background: #fff;
}
#navigation .menu .menu a {
  padding: 0.7em 5.26316%;
  font-size: 0.8em;
}
#navigation a {
  color: #000;
}
#navigation a:hover {
  background: #cccccc;
}
#navigation.nav-anim {
  visibility: visible;
}

/*# sourceMappingURL=styles.css.map */
